@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no_scrollbar2::-webkit-scrollbar {
        /* display: none; */
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no_scrollbar2 {
        /* -ms-overflow-style: none;  
        scrollbar-width: none;   */
    }
  }
}

#mainDv {
  background-image: "./Images/header.png";
}

.downArrow {
  animation: animate 2s ease-in-out infinite;
}

@keyframes animate {
  0% {
    color: rgb(129, 133, 133);
  }
  50% {
    color: rgb(13, 134, 134);
  }
  100% {
    color: azure;
  }
}

.nav {
  /* background: rgb(3, 52, 71);
  background: linear-gradient(
    90deg,
    rgba(3, 52, 71, 1) 0%,
    rgba(4, 81, 91, 1) 94%,
    rgba(4, 87, 95, 1) 100%
  ); */
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}